<%= turbo_frame_tag "content" do %>
<div class="login_window card">
 <%= render 'pages/notices' %>

<h2>Edit Profile</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: { turbo: false }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

 <div  id="form_window">

  <div class="form_section">
    <%= f.label :email, style: "display: block" %>
    <%= f.email_field :email, autofocus: true, :class => "form_string", autocomplete: "email" %>
  </div><!-- email form_section -->

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

   <div class="form_section">
  <%= f.label :first_name, style: "display: block" %>
  <%= f.text_field :first_name, :class => "form_string", autocomplete: "given-name" %>
  </div> <!-- first_name form_section -->

  <div class="form_section">
  <%= f.label :surname, style: "display: block" %>
  <%= f.text_field :surname, :class => "form_string", autocomplete: "family-name" %>
  </div> <!-- surname form_section -->

  <div class="form_section">
    <div class="password_desc">
      <%= f.label :password%>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
    </div><!-- password_desc -->
    <%= f.password_field :password, :class => "form_string", autocomplete: "new-password" %>
  </div><!-- password form_section -->
  <div class ="form_section">
  <div class="input_container">
  
  <h4>Select Profile Image:</h4>
  <p class="explanation">Image will resize and then crop to 300x300px, for best results please use a square image</p>
  <%= f.file_field :user_image, :class => "form_file_field" %>
  </div>
  </div>
  
  <div class="form_section">
    <%= f.label :current_password %> <p class="explanation">(we need your current password to confirm your changes)</p>
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  </div>

  <div class="actions">
    <%= f.submit "Update", :class => "square_button strip_link" %>
  </div>
<% end %>

<%= button_to "Delete Profile", registration_path(resource_name), :id => "delete_profile_button", :class => "square_button strip_link", data: { confirm: "Are you sure?" }, method: :delete %></p>

</div>
<% end %>