
<%= form_with model: group  do |form| %>
  <% if group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>  
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_section">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class="form_section" data-controller="places" data-action="google-maps-callback@window->places#initAutocomplete">
    <%= form.label :location, style: "display: block" %>
    <%= form.text_field(:location,  'data-action': "keydown->places#preventSubmit input->places#updateGeo", 'data-places-target': "address", placeholder:"Search a location", "autocomplete": "off") %>
    <%= form.hidden_field(:longitude, 'data-places-target': "longitude") %>
    <%= form.hidden_field(:latitude, 'data-places-target': "latitude") %>
  </div>
  <input type="hidden" data-places-target="city" />
  <input type="hidden" data-places-target="streetNumber" />
  <input type="hidden" data-places-target="route" />
  <input type="hidden" data-places-target="county" />
  <input type="hidden" data-places-target="state" />
  <input type="hidden" data-places-target="postalCode" />
  <input type="hidden" data-places-target="country" />

  <div class="form_section">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>
  <div class="input_container">
  <h4>Select Group Profile Image:</h4>
  <p class="explanation">Image will resize and then crop to 300x300px, for best results please use a square image</p>
  <%= form.file_field :image, :class => "form_file_field" %>
  </div>

  <div class="form_section" id="private_group_form_section">
    <%= form.label :private, style: "display: block", id: "private_label" %>
    <div class="check_wrapper">
    <%= form.check_box :private, :class => "check", :id => "private_group_switch" %><label for="private_group_switch"></label>
    </div> <!-- check wrapper -->
  </div>

  <%= form.submit "Submit", :class => "strip_link square_button", :name => "final_submit", :value => "Submit" %>


<% end %>
