<%= form_with(model: group, data: { controller: "dropdown", action: "change->dropdown#submit" }) do |form| %>
  <% if group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_section">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class="form_section">
    <%= form.label :country, style: "display: block" %>
    <%= form.select :country, CS.countries.values %>
  </div>

  <div class="form_section">
    <%= form.label :region, style: "display: block" %>
    <%= form.select :region, :prompt => "Select country first" %>
  </div>

  <div class="form_section">
    <%= form.label :city, style: "display: block" %>
    <%= form.select :city, :prompt => "Select region first" %>
  </div>

  <div class="form_section">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div class="form_section" id="private_group_form_section">
    <%= form.label :private, style: "display: block" %>
    <div class="check_wrapper">
    <%= form.check_box :private, :class => "check", :id => "private_group_switch" %><label for="private_group_switch"></label>
    </div> <!-- check wrapper -->
  </div>

  <%= form.submit "Submit", :class => "strip_link square_button", :name => "final_submit", :value => "Submit" %>

  <!-- AJAX that loads "City" according to the selected state -->
<script>

$('select[name="group[country]"]').change(function () {
  var input_country = $(this);
  $.getJSON('/regions/' + $(this).val(), function (data) {
    var input_region = $('select[name="group[region]"]')
    console.log(input_region)
    input_region.empty();
    $.each(data, function (i,region) {
      var opt = '<option value='+ region +'>' + region + '</option>';
      input_region.append(opt);
    });
  });
});

$('select[name="group[region]"]').change(function () {
  var input_region = $('select[name="group[region]"]');
  $.getJSON('/cities/' + $(this).val() + '/' + $('select[name="group[country]"]').val(), function (data) {
    var input_city = $('select[name="group[city]"]')
    input_city.empty();
    $.each(data, function (i, city) {
      var opt = '<option value='+ i +'>' + city + '</option>';
      input_city.append(opt);
    });
  });
});
</script>
<% end %>
