<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_section">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class="form_section">
    <%= form.label :country, style: "display: block" %>
    <%= form.country_select :country, priority_countries: ["GB", "US", "FR", "DE"] %>
  </div>

  <div class="form_section">
    <%= form.label :city, style: "display: block" %>
    <%= form.text_field :city %>
  </div>

  <div class="form_section">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div class="form_section" id="private_group_form_section">
    <%= form.label :private, style: "display: block" %>
    <div class="check_wrapper">
    <%= form.check_box :private, :class => "check", :id => "private_group_switch" %><label for="private_group_switch"></label>
    </div> <!-- check wrapper -->
  </div>

  <div>
    <%= form.submit :class => "strip_link square_button" %>
  </div>
<% end %>
