<div class="show_group_container" id="<%= dom_id group %>">
    
  <div class="group_display">
  <%= image_tag(group.image_url.to_s, :class => "image_300") %>
  <div class="container" id="group_container">
  <div class="window_header">
  <h2 class ="item_header" id="group_item_header">
    <%= group.name %>
    </h2>
    </div><!-- window_header -->
    <br>
  <p class="location">
    <%= group.location %>
  </p>
  <br>

  <p class="description">
    <%= group.description %>
  </p>
  
  </div><!-- group_container -->
  <div class="container calendar_window">
    <%= render 'calendars/calendar', date: @date %>
  </div>
<div id="member_title">
<h3>Members<i class="icon" id="member_expand">expand_less</i></h3>
</div><!-- member_title -->
  <div id="member_list">
  <% group.users.each do |user| %>
    <div class="user_card card">
    <%= image_tag(user.user_image.to_s, :class =>"user_pp") %>
    <div class="user_name">
    <%= "#{user.first_name} #{user.surname}" %>
    <% if (group.admin_status(current_user)) %>
      <% if (group.admin_status(user) && user.id != current_user.id) %>
        <div class="admin_add_remove">
          <%= link_to "Remove as admin", remove_admin_path(user) %>
        </div> <!-- admin_add_remove -->
      <% elsif (!group.admin_status(user)) %>
        <div class="admin_add_remove">
          <%= link_to "Make admin", add_admin_path(user) %>
        </div> <!-- admin_add_remove-->
      <% end %>
    <% end %>
    </div><!-- user_name -->
    </div><!-- user_card -->
  <% end %>
  </div>
  </div>
  </div><!-- group ID -->
  <div class="flat_button_group" id="group_buttons">
    <% if (group.admin_status(current_user)) %>
      <%= button_to edit_group_path, :class => "square_button strip_link",  :id => "edit_group_button", :method => :get do %>
        <i class="icon" id="edit_group_icon">mode_edit</i> Edit
      <% end %> 
      <%= button_to group_path, :class => "square_button strip_link",  :id => "new_group_button", :method => :destroy do %>
        <i class="icon" id="delete_group_icon">delete</i> Delete
      <% end %>
    <% end %>
    <% if !current_user.member?(group) %>
      <%= button_to "Join", new_group_membership_path(group), :class => "square_button", :id => "group_join_leave_button", :method => :get %>
    <% else %>
      <% membership = Membership.find_by group_id: group.id, user_id: current_user.id %>
      <%= button_to "Leave", group_membership_path(group, membership), :class => "square_button", :id => "group_join_leave_button", :method => :delete %>
    <% end %>
    <%= button_to "All Groups", groups_path, :class => "square_button", :method => :get %>
  </div><!-- button group -->