<%= turbo_frame_tag :groups, class: "t_frame" do %>

<div class="card_container container" id="groups_content">

 <%= simple_format("No groups to show") if @groups.empty? %>
 
 
    <% @groups.each do |group| %>
        <%= link_to group, :class => "strip_link" do %>
          <div class="card group_card">
            <div class="container profile_image group_profile_image">
              <%= image_tag(group.image_url.to_s, :class => "image_150") %>
            </div><!-- group_profile_image -->
            <div class="container group_card_title">
              <h4 class="group_name"><%= group.name.upcase %></h4>
              <div class="member_number_container container">
                <%= image_tag "meep_icon.gif", :class => "meep_icon" %>
                <%= group.member_count %>
              </div><!-- member_number_container -->
            </div> <!-- group_card_title -->
            <div class="group_card_loc_container">
              <i class="icon group_card_loc">place</i>
              <h5 class="group_card_location_text"><%= group.location.length < 20 ? group.location : group.location[0,21]+"..." %></h5>
            </div><!-- grou_card_loc_container -->
          </div><!-- group_card -->
        <% end %><!-- link_to do -->
    <% end %><!-- groups.each do -->
  </div><!--groups_content -->

<%= button_to new_group_path, :class => "new_button strip_link",  :id => "new_group_button", :method => :get do %>
<i class="icon" id="new_group_icon">add</i>
<% end %>
</div>

<% end %>