<%= turbo_frame_tag "content" do %>

 <%= render 'pages/notices' %>

<h2>Edit Group</h2>

<%= render "form", group: @group %>

<br>

<div>
  <%= link_to "Show this group", @group %> |
  <%= link_to "Back to groups", groups_path %>
</div>

<% end %>
