 <div class="section_contents container" id="groups_content">
    <% @groups.each do |group| %>
      <%= render group %>
      <p>
        <%= link_to "Show this group", group %>
      </p>
    <% end %>
  </div><!--groups_content -->

<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
    <p>
      <%= link_to "Show this group", group %>
    </p>
  <% end %>
</div>

<%= button_to new_group_path, :class => "square_button strip_link",  :id => "new_group_button", :method => :get do %>
<i class="icon" id="new_group_icon">group_add</i> New Group
<% end %>
