 <div class="section_contents container" id="groups_content">
    <% @groups.each do |group| %>
      <%if !group.private %>
        <%= link_to group, :class => "strip_link" do %>
          <div class="card group_card">
            <div class="container profile_image group_profile_image"><%= image_tag(group.image_url.to_s, :class => "image_100") %></div>
            <div class="container group_card_details">
              <h4 class="group_name"><%= group.name.upcase %></h4>
              <h5><%= group.location.length < 25 ? group.location : group.location[0,26]+"..." %></h5>
              <p><%= group.description.length < 50 ? group.description: group.description[0,51]+" ..." %></p> 
            </div><!-- group_card_details -->  
          </div><!-- group_card -->
        <% end %><!-- link_to do -->
      <% end %><!-- if private -->
    <% end %><!-- groups.each do -->
  </div><!--groups_content -->

<%= button_to new_group_path, :class => "square_button strip_link",  :id => "new_group_button", :method => :get do %>
<i class="icon" id="new_group_icon">group_add</i> New Group
<% end %>
