<%= turbo_frame_tag "content" do %>
 <div class="container" id="group_index">

 <div class = "filter_box container" id = "group_filter_box">
  <div class = "filter_box_top">
  <div>
    Currently showing
    <% check = 0 %>
    <% @groups.each do |group| %>
      <% check = check + 1 if !group.check_groups_shown(current_user) %>
      <% puts group.name %>
      <% puts check %>
    <% end %>
    <% if check != 0 %>
      all groups
      </div>
          <%= button_to "Show My Groups", groups_path, params: {all: false}, :method => :get, :class => "square_button strip_link" %>
    <% else %>
        my groups 
        </div>
          <%= button_to "Show All Groups", groups_path, params: {all: true}, :method => :get, :class => "square_button strip_link" %>
    <% end %>
  </div><!-- filter_box_top -->
  <div class="filter_box_bottom">
  <%= form_with url: games_path, :method => :get, data:{turbo_frame: "content"} do |form| %>
  Show all groups within
  <%= form.select :distance, options_for_select(['2 miles', '5 miles', '10 miles', '20 miles', '50 miles', '100 miles']) %>
  
    of 

    <div class="form_section" data-controller="places" data-action="google-maps-callback@window->places#initAutocomplete">
    <%= form.label :location, style: "display: block" %>
    <%= form.text_field(:location,  'data-action': "keydown->places#preventSubmit input->places#updateGeo", 'data-places-target': "address", placeholder:"Search a location", "autocomplete": "off") %>
    <%= form.hidden_field(:longitude, 'data-places-target': "longitude") %>
    <%= form.hidden_field(:latitude, 'data-places-target': "latitude") %>
  </div>
  <input type="hidden" data-places-target="city" />
  <input type="hidden" data-places-target="streetNumber" />
  <input type="hidden" data-places-target="route" />
  <input type="hidden" data-places-target="county" />
  <input type="hidden" data-places-target="state" />
  <input type="hidden" data-places-target="postalCode" />
  <input type="hidden" data-places-target="country" />

   <%= form.submit "Search", :class => "square_button strip_link" %>
   <% end %>
  </div><!--filter_box_bottom-->
</div> <!-- group_filter_box -->
 
 <div class="card_container container" id="groups_content">
 
    <% @groups.each do |group| %>
      <%if !group.private %>
        <%= link_to group, :class => "strip_link" do %>
          <div class="card group_card">
            <div class="container profile_image group_profile_image">
              <%= image_tag(group.image_url.to_s, :class => "image_150") %>
            </div><!-- group_profile_image -->
            <div class="container group_card_title">
              <h4 class="group_name"><%= group.name.upcase %></h4>
              <div class="member_number_container container">
                <%= image_tag "meep_icon.gif", :class => "meep_icon" %>
                <%= group.member_count %>
              </div><!-- member_number_container -->
            </div> <!-- group_card_title -->
            <div class="group_card_loc_container">
              <i class="icon group_card_loc">place</i>
              <h5 class="group_card_location_text"><%= group.location.length < 20 ? group.location : group.location[0,21]+"..." %></h5>
            </div><!-- grou_card_loc_container -->
          </div><!-- group_card -->
        <% end %><!-- link_to do -->
      <% end %><!-- if private -->
    <% end %><!-- groups.each do -->
  </div><!--groups_content -->

<%= button_to new_group_path, :class => "square_button strip_link",  :id => "new_group_button", :method => :get do %>
<i class="icon" id="new_group_icon">group_add</i> New Group
<% end %>
</div>
<% end %> <!-- content turbo_frame -->
