<%= turbo_frame_tag :groups_table, :class => "t_frame" do %>
  <div class="table_container container three_col" id="groups_search">

    <% if PresenceCheck.string(@error) %>
      <%= @error %>
    <% elsif @groups.empty? %>
      No groups to show
    <% else %>
        <div class="table_header group_name_header table_cell">
          Name
        </div>
        <div class="table_header group_loc_header table_cell">
          Location
        </div>
        <div class="table_header group_count_header table_cell">
          <i class=icon>person</i>
        </div>

      

    
    
    
        <% @groups.each_with_index do |group, i| %>
          <% if i.even? %>
            <%= link_to group_path(group), :turbo_frame => "content", :class => "strip_link table_link" do %>
              <div class="group_name_container container table_cell table_data even_row">
                <h5 class="group_name"><%= group.name.upcase %></h5>
              </div>
            <% end %>
            <div class="group_card_loc_container table_cell table_data even_row">
              <i class="icon group_card_loc">place</i>
              <h5 class="group_card_location_text"><%= group.location.length < 20 ? group.location : group.location[0,21]+"..." %></h5>
            </div><!-- group_card_loc_container -->
            <div class="member_number_container container table_cell table_data even_row">
              <%= group.member_count %>
            </div><!-- member_number_container -->
          <% else %>
            <%= link_to group_path(group), :turbo_frame => "content", :class => "strip_link table_link" do %>
              <div class="group_name_container container table_cell table_data odd_row">
                <h5 class="group_name"><%= group.name.upcase %></h5>
              </div>
            <% end %>
            <div class="group_card_loc_container table_cell table_data odd_row">
              <i class="icon group_card_loc">place</i>
              <h5 class="group_card_location_text"><%= group.location.length < 20 ? group.location : group.location[0,21]+"..." %></h5>
            </div><!-- group_card_loc_container -->
            <div class="member_number_container container table_cell table_data odd_row">
              <%= group.member_count %>
            </div><!-- member_number_container -->
          <% end %>
      <% end %><!-- groups.each do -->

      </div><!--groups_search -->

    <% end %>

    
    </div>
  <% end %>

