<div id="<%= dom_id event %>">
  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= event.group_id %>
  </p>

  <p>
    <strong>Venue:</strong>
    <%= event.venue_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= event.date %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= event.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= event.end_time %>
  </p>

  <p>
    <strong>Event setting:</strong>
    <%= event.event_setting_id %>
  </p>

  <p>
    <strong>Session:</strong>
    <%= event.session_id %>
  </p>

</div>
