<div class = "filter_box container" id = "events_filter_box">
  
  <div class="filter_box_header" id="events_filter_header" data-controller="expand">
    <h4>Filters</h4><i class="icon" id="expand_events_filters" data-action= "click->expand#expand">expand_less</i>
  </div>
  
  <div class = "filter_content container">

    <%= form_with url: events_table_path, :id => "filter_form_events", :method => :get, data:{turbo_frame: "events"} do |form| %>
      <div class="filter_item">
        <div class="filter_item_title">
          Show:
        </div><!-- filter_item_title -->
        <div class="filter_item_content">
          <%= form.select :my, options_for_select(['All Events',"Events I'm Attending","Events I'm Running"]) %>
        </div><!-- filter_item_content (my/all events)-->
      </div><!--filter_item (my/all events) -->

      <div class="filter_item">
        <div class="filter_item_title">
          Distance:   
        </div><!-- filter_item_title -->
        <div class="filter_item_content">
          <div class="filter_section", :id = "form_section_loc_filter", data-controller="places" data-action="google-maps-callback@window->places#initAutocomplete">
            <%= form.select :distance, options_for_select([['2 miles',2],['5 miles',5],['10 miles',10],['20 miles',20],['50 miles',50],['100 miles',100]]) %>  
            from
            <%= form.text_field(:loc_filter,  'data-action': "keydown->places#preventSubmit", 'data-places-target': "address", placeholder:"Search a location", "autocomplete": "off") %>
            <%= form.hidden_field(:longitude, 'data-places-target': "longitude") %>
            <%= form.hidden_field(:latitude, 'data-places-target': "latitude") %>
          </div><!-- form_section_loc_filter -->
          <input type="hidden" data-places-target="city" />
          <input type="hidden" data-places-target="streetNumber" />
          <input type="hidden" data-places-target="route" />
          <input type="hidden" data-places-target="county" />
          <input type="hidden" data-places-target="state" />
          <input type="hidden" data-places-target="postalCode" />
          <input type="hidden" data-places-target="country" />
        </div><!-- filter_item_content (location)-->
      </div><!-- filter_item (location)-->
    
      <div class="filter_item">
        <div class="filter_item_title">
          Event/Group Name:
        </div><!-- filter_item_title -->
        <div class=filter_item_content>
          <%= form.text_field :search_string, :placeholder => "Enter name", :id => "events_search_box" %>
        </div><!-- filter_item_content (search)-->
      </div><!-- filter_item (search)-->

      <div class="filter_button_box">
        <%= form.button nil, :class => "square_button", :name => "my_button" do %><i class = "icon">filter_list</i>&nbsp;Filter<% end %>
      </div>


  <% end %><!-- form -->

  </div><!--filter_content_container -->

</div> <!-- group_filter_box -->