<%= form_with model: event, data:{turbo_frame: "content"} do |form| %>
  <% if event.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p class="explanation">Events can only be created by group admins, if your group is not listed below please contact an admin or create a new group first</p>

  <div class="new_form_section">
    <%= form.label "Hosting Group", style: "display: block" %>
    <% if PresenceCheck.array(@admin_of) %>
      <%= form.select :group_id, @admin_of.collect { |group| [group.name, group.id]} %> 
    <% else %>
      <%= form.select :group_id, options_for_select([]) %>
      <% end %>
    
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <!--<div class = "new_form_section">
    <%= form.label :venue_id, style: "display: block" %>
    <%= form.text_field :venue_id %><%= link_to new_venue_path, :class => "strip_link", data:{:turbo_frame => :modal} do %><div class="square_button"><i class="icon">add</i>&nbsp;Add New Venue</div><% end %>
  </div>-->

  <div class="new_form_section">
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div class="new_form_section">
    <%= form.label :start_time, style: "display: block" %>
    <%= form.time_field :start_time %>
  </div>

  <div class="new_form_section">
    <%= form.label :duration, style: "display: block" %>
    <%= form.number_field :duration %>
  </div>

  <%= button_to "Create Event", nil, :class => "strip_link square_button" %>
<% end %>
