<%= turbo_frame_tag "content" do %>
 <%= render 'pages/notices' %>
  <div class="container" id="events_index">
    <%= render 'events_filter' %>
    <%= turbo_frame_tag :events, :class => "t_frame", :src => events_table_path do %>
    <% end %><!-- groups turbo_frame -->
  </div><!-- group_index-->
   <%= button_to new_event_path, :class => "new_button strip_link",  :id => "new_event_button", :method => :get, data:{turbo_frame: "content"} do %>
      <i class="icon" id="new_group_icon">add</i>
    <% end %>
<% end %> <!-- content turbo_frame -->