<%= turbo_frame_tag :dash_window do %>

<% if !PresenceCheck.array(@games) %>
                No games added
      <% else %>

  <div class="table_container container three_col" id="games_dash_search" data-controller="panel">
      

        <div class="table_header games_name_header table_cell">
          Name
        </div>
        <div class="table_header games_year_header table_cell">
          Year
        </div>
        <div class="table_header games_owned_header table_cell"></div>

        <% @games.each_with_index do |game, i| %>
          <% game_owned = true %>
          <% (@my_rated_games.select{|n| n.bgg_id.to_s == game["id"]}) && (@my_rated_games.select{|n| n.bgg_id.to_s == game["id"]} != []) ? rating = @my_rated_games.select{|n| n.bgg_id.to_s == game["id"]}[0].rating : rating =  "Not Rated" %>
        
          
          <% if i.even? %>

            <div class="game_name_container container table_cell table_data even_row" data-action="click->panel#open">
              <h5 class="group_name"><%= game["name"][0]["value"].upcase %></h5>
            </div>

            <div class="game_year_container table_cell table_data even_row" data-action="click->panel#open">
              <h5 class="group_card_location_text"><%= game["yearpublished"][0]["value"] %></h5>
            </div><!-- group_card_loc_container -->

            <div class="game_image_container container table_cell table_data even_row" data-action="click->panel#open">
            <% if PresenceCheck.game_image(game["image"]) %>
                <%= image_tag("#{game["image"][0]}", :class => "image_75") %>
              <% else %>
                <%= image_tag "no_game.svg", :class => "image_75" %>
              <% end %> 
            </div><!-- game_image_container -->

          <% else %>

            <div class="game_name_container container table_cell table_data odd_row" data-action="click->panel#open">
              <h5 class="group_name"><%= game["name"][0]["value"].upcase %></h5>
            </div>

            <div class="game_year_container table_cell table_data odd_row" data-action="click->panel#open">
              <h5 class="group_card_location_text"><%= game["yearpublished"][0]["value"] %></h5>
            </div><!-- group_card_loc_container -->

            <div class="game_image_container container table_cell table_data odd_row" data-action="click->panel#open">
              <% if PresenceCheck.game_image(game["image"]) %>
                <%= image_tag("#{game["image"][0]}", :class => "image_75") %>
              <% else %>
                <%= image_tag "no_game.svg", :class => "image_75" %>
              <% end %> 
            </div><!-- member_number_container -->

          <% end %>

          <div class = "games_panel">
            <%= form_with url: add_games_path, :method => :get, remote: true, data:{turbo_frame: "frame#{game["id"]}", :controller => 'autosub', autosave_delay_value: '1000', :action => "update@window->autosub#save"}, :id => "rating_card_form" do |form| %>
              <div class="panel_form_section"  data-action='change->autosub#save'>
                <%= form.label "Rating:" %>
                <%= form.select :rating, options_for_select(["Eager to Play", "Keen to Play", "Happy to Play", "Will Play", "Prefer to Avoid", "Will not Play", "Not Rated" ],rating) %>
              </div>
              <div class="panel_form_section" id="rate_check_section" data-action='change->autosub#save'>
                <%= form.label "Owned?" %>
                <div class="check_wrapper" data-controller = "checkbox" data-action="add@window->checkbox#check">                
                    <%= form.check_box :owned, :class => "check", id: game["id"], checked: game_owned, data:{"checkbox-target" => "check"} %>
                    <%= form.label game["id"], '&nbsp;'.html_safe %>                
                </div>
              </div>
              <%= form.hidden_field :bgg_id, value: game["id"] %>
              <%= form.hidden_field :name, value: game["name"][0]["value"] %>
              <%= form.hidden_field :min_player_count, value: game["minplayers"][0]["value"] %>
              <%= form.hidden_field :max_player_count, value: game["maxplayers"][0]["value"] %>
              <%= form.hidden_field :min_rec_player_count, value: PollCheck.players(game).min %>
              <%= form.hidden_field :max_rec_player_count, value: PollCheck.players(game).max %>
              <%= form.hidden_field :weight %>
              <%= form.hidden_field :image, value: game["image"] %>
              <%= form.hidden_field :description, value: game["description"]%>    
              
              

            <% end %>
          </div>
          <%= turbo_frame_tag "frame#{game["id"]}", :class => "panel_frame" do %>
          <% end %>

        <% end %><!-- games.each do -->

      </div><!--groups_search -->
    <% end %>

  <% end %>