<%= turbo_frame_tag :content do %>

  <%= render 'notices' %>

  <div class="dash_header" id="groups_dash_header">
    <%= form_with url: dash_select_path, :class => "dash_form", :method => :get, data:{controller: "autosub", turbo_frame: "dash_window"} do |form|  %>
      <%= form.select :dash_option, options_for_select(['My Groups','My Events','My Games']), {}, :class => "dash_select", data:{action: "change->autosub#save"} %>
    <% end %>
  </div>
  <%= turbo_frame_tag :dash_window, :src => dash_groups_path, :class => "dash_header_container" do %>
    <%= render 'loading' %>
  <% end %>
  <div class="dash_buttons">
  <%= button_to destroy_user_session_path, :method => :delete, :class => "square_button strip_link" do %><i class="icon">logout</i>&nbsp;Log Out<% end %>
  <%= button_to edit_user_registration_path, :method => :get, :class => "square_button strip_link", data: {turbo_frame: "content"} do %><i class="icon">edit</i>&nbsp;Edit Profile<% end %>
  </div>

<% end %>