<%= turbo_frame_tag :dash_window do %>
  <% if @groups.empty? %>
      No groups to show
  <% else %>
    <table class="dash_table">
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th><i class=icon>person</i></th>
      </tr>
      <% @groups.each do |group| %>
        <%= link_to group_path(group), data:{:turbo_frame => "content"}, :class => "strip_link" do %>
          <tr onclick="location.href='<%= group_path(group) %>'">
            <td><h5 class="group_name"><%= group.name.upcase %></h5></td>
            <td><h5 class="group_card_location_text"><i class="icon">place</i><%= group.location.length < 20 ? group.location : group.location[0,21]+"..." %></h5></td>
            <td class="center_cell"><%= group.member_count %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  <% end %>
<% end %>