<div id="<%= dom_id game %>">
  <p>
    <strong>Bgg:</strong>
    <%= game.bgg_id %>
  </p>

  <p>
    <strong>Min player count:</strong>
    <%= game.min_player_count %>
  </p>

  <p>
    <strong>Max player count:</strong>
    <%= game.max_player_count %>
  </p>

  <p>
    <strong>Min rec player count:</strong>
    <%= game.min_rec_player_count %>
  </p>

  <p>
    <strong>Max rec player count:</strong>
    <%= game.max_rec_player_count %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= game.image %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= game.weight %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= game.rating %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= game.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= game.user_id %>
  </p>

  <p>
    <strong>Venue:</strong>
    <%= game.venue_id %>
  </p>

</div>
