<div class = "filter_box container" id = "games_filter_box">
  
  <div class="filter_box_header" id="games_filter_header" data-controller="expand">
    <h4>Filters</h4><i class="icon" id="expand_games_filters" data-action= "click->expand#expand">expand_less</i>
  </div>
  
  <div class = "filter_content container">

    <%= form_with url: games_table_path, :id => "filter_form_games", :method => :get, data:{turbo_frame: "games"} do |form| %>
      <div class="filter_item">
        <div class="filter_item_title">
          Show:
        </div><!-- filter_item_title -->
        <div class="filter_item_content">
          <%= form.select :my, options_for_select(['All Games','My Owned Games', 'My Rated Games']) %>
          <%= form.button nil, :class => "filter_button", :name => "my_button" do %><i class = "icon">filter_list</i><% end %>
        </div><!-- filter_item_content (my/all games)-->
      </div><!--filter_item (my/all games) -->
    
      <div class="filter_item">
        <div class="filter_item_title">
          BGG User:
        </div><!-- filter_item_title -->
        <div class=filter_item_content>
          <%= form.text_field :bgg_user, :placeholder => "Search by BGG Username...", :id => "bgg_user_box" %>
          <%= form.button nil, :class => "filter_button", :name => "bgg_user_button" do %><i class = "icon">filter_list</i><% end %>
        </div><!-- filter_item_content (search)-->
      </div><!-- filter_item (search)-->

      <div class="filter_item">
        <div class="filter_item_title">
          Group:
        </div><!-- filter_item_title -->
        <div class=filter_item_content>
          <%= form.collection_select :group_name, @my_groups, :id, :name %>
          <%= form.button nil, :class => "filter_button", :name => "hn_group_button" do %><i class = "icon">filter_list</i><% end %>
        </div><!-- filter_item_content (groups)-->
      </div><!-- filter_item (search)--><div class="filter_item">

        <div class="filter_item_title">
          Name:
        </div><!-- filter_item_title -->
        <div class=filter_item_content>
          <%= form.text_field :bgg_game, :placeholder => "Search by game name...", :id => "games_search_box" %>
          <%= form.button nil, :class => "filter_button", :name => "bgg_game_button" do %><i class = "icon">filter_list</i><% end %>
        </div><!-- filter_item_content (search)-->
      </div><!-- filter_item (search)-->


  <% end %><!-- form -->

  </div><!--filter_content_container -->

</div> <!-- group_filter_box -->