<%= turbo_frame_tag :calendar, :class => "calendar_window" do %>
<div class="window_header">
    <%= link_to calendar_new_path(date: @date << 1, group: @group), :class => "strip_link" do %>
    <div class="icon container cal_prev">chevron_left</div>
    <% end %>
    <div class="container calendar_title">
        <h3 class ="item_header" id="calendar_header">
            <%= Date::MONTHNAMES[@date.month] %>
        </h3>
        <h4 class = "item_header" id="calendar_year">
            <%= @date.year %>
        </h4>
    </div>
    <%= link_to calendar_new_path(date: @date >> 1, group: @group), :class => "strip_link" do %>
    <div class="icon container cal_next">chevron_right</div>
    <% end %>

</div>
<div class="cal_days">
<div class="day_header">Su</div>
<div class="day_header">Mo</div>
<div class="day_header">Tu</div>
<div class="day_header">We</div>
<div class="day_header">Th</div>
<div class="day_header">Fr</div>
<div class="day_header">Sa</div>

<% (0..(@date.beginning_of_month.wday-1)).each do |nonDay| %>
<div class="non_day">
</div>
<% end %>
<% (@date.beginning_of_month..@date.end_of_month).each do | day | %>
    <% if @group.has_event(day) %>
    <%= link_to event_path(@group.has_event(day)), :class => "strip_link", data:{turbo_frame: "content"} do %>
            <div class = "cal_day_event">
                <%= day.day %>
            </div>
        <% end %>
    <% else %>
        <div class = "cal_day">
            <%= day.day %>
        </div>
    <% end %>
<% end %>
<% (@date.end_of_month.wday..7).each do | nonDay | %>
<div class="non_day">
</div>
<% end %>
</div>
<% end %>

