<div id="<%= dom_id event_setting %>">
  <p>
    <strong>Group:</strong>
    <%= event_setting.group_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= event_setting.event_id %>
  </p>

  <p>
    <strong>Min per session:</strong>
    <%= event_setting.min_per_session %>
  </p>

  <p>
    <strong>Max per session:</strong>
    <%= event_setting.max_per_session %>
  </p>

  <p>
    <strong>Max weight:</strong>
    <%= event_setting.max_weight %>
  </p>

  <p>
    <strong>Min weight:</strong>
    <%= event_setting.min_weight %>
  </p>

  <p>
    <strong>Max length:</strong>
    <%= event_setting.max_length %>
  </p>

  <p>
    <strong>Min length:</strong>
    <%= event_setting.min_length %>
  </p>

  <p>
    <strong>Use rec count:</strong>
    <%= event_setting.use_rec_count %>
  </p>

</div>
