<!DOCTYPE html>
<html>
  <head>
    <title>HeavyNight</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <%= javascript_include_tag("https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.dig(:google_maps_api_key).to_s}&libraries=places&callback=initMap", defer:true, 'data-turbo-eval':'false') %>
  </head>

  <body>
    <div class="bookend" id="header">
      <%= link_to root_path, :class => "strip_link" do %>
        <h1 id="logo">HEAVY NIGHT</h1>
      <% end %>
      <div class="container">
        <%= image_tag "pp_icon.gif", :id => "pp_icon" %>
      </div> <!-- pp_icon -->
    </div> <!-- header -->
    <div class="tab_bar" id="layout_tab_bar">
      <%= link_to groups_path, :class => "tab tab_1 strip_link" do %>
        <div id="layout_tab_1">Groups</div>
      <% end %>
      <div class="tab tab_2" id="layout_tab_2">Events</div>
      <div class="tab tab_3" id="layout_tab_3">Games</div>
      <div class="tab tab_4" id="layout_tab_4">Venues</div>
    </div><!-- layout_tab_bar -->
      <div class="window" id="content_window">
        <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        <%= yield %>
      </div><!-- content_window -->
    <div class="bookend" id="footer">Contact us</div> <!-- footer -->
  </body>
</html>
